body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.search-section {
  display: flex;
  justify-content: center;
  margin: 36px;
}

.search-form {
  display: flex;
  gap: 8px;
  margin: 0, auto;
}

.search-input {
  padding-left: 16px;
  border: 1px solid #808080;
  border-radius: 5px;
  width: 300px;
  font-size: 16px;
  width: 272px;
  height: 40px;
}
.search-input:hover {
  border: 1px solid #000;
}
.search-input:active {
  border-color: #4e75ff;
}

.form-btn {
  padding: 10px 20px;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.form-btn:hover {
  background-color: #6c8cff;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  gap: 24px;
  padding: 10px;
  margin-left: 156px;
  margin-right: 156px;
}

.gallery-item {
  display: block;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #808080;
  max-width: 280px;
  max-height: 180px;
  position: relative;
}

.gallery-image {
  width: 100%;
  height: 100%;
}

.gallery__link {
  display: block;
  text-align: center;
}
.gallery-info {
  background: white;
  position: inherit;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 48px;
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  padding-right: 10px;
}
.gallery-info-item {
  display: block;
  width: 25%;
  align-content: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.gallery-info-item p {
  margin: 0;
  color: #000;
  text-align: center;
}
.info-item-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.btn-more {
  padding: 10px 20px;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  align-self: center;
}
